
.reviews {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1416px;
  flex-direction: column;
  align-items: stretch;
  margin-left: 12px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .reviews {
    margin-left: 0;
    max-width: 100%;
  }
}

.reviews-header {
  text-align: center;
  align-self: center;
  margin-top: 136px;
}

@media (max-width: 1024px) {
  .reviews-header {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .reviews-header {
    margin-top: 60px;
  }
}

.reviews-title {
  color: black;
  font-size: 60px;
  font-weight: normal;
  line-height: 56px;
}

@media (max-width: 1024px) {
  .reviews-title {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .reviews-title {
    font-size: 32px;
    line-height: 41px;
  }
}

@media (max-width: 480px) {
  .reviews-title {
    font-size: 24px;
  }
}

.reviews-grid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 1349px;
  align-items: stretch;
  gap: 49px 40px;
  color: black;
  margin-top: 115px;
}

@media (max-width: 1200px) {
  .reviews-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .reviews-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 50px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .reviews-grid {
    grid-template-columns: 1fr;
  }
}

.review-card {
  width: 100%;
}

.review-content {
  background-color: rgba(197, 214, 178, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  padding: 18px 16px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .review-content {
    padding-right: 20px;
  }
}

.review-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .review-header {
    margin-right: 9px;
  }
}

.review-avatar {
  aspect-ratio: 1;
  object-fit: contain;
  width: 44px;
  border-radius: 50%;
}

.review-user-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
}

.review-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.32px;
}

@media (max-width: 768px) {
  .review-name {
    font-size: 14px;
  }
}

.review-username {
  font-size: 13px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 0.13px;
}

@media (max-width: 768px) {
  .review-username {
    font-size: 12px;
  }
}

.review-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0.3px;
  margin-top: 28px;
}

@media (max-width: 768px) {
  .review-text {
    font-size: 14px;
    margin-top: 16px;
    margin-left: 5px;
  }
}

.review-date {
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 0.14px;
  margin-top: 74px;
}

@media (max-width: 768px) {
  .review-date {
    font-size: 12px;
    margin-top: 40px;
  }
}
